/* RESET CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* VARIABLES */
:root {
    /* Light mode */
    --light-background-color: rgb(250, 250, 250);
    --light-header-background-color: rgba(245, 245, 245, 0.5);
    --light-section-background-color: rgb(245, 245, 245);
    --light-text-color: rgb(10, 10, 10);

    /* Dark mode */
    --dark-background-color: rgb(5, 5, 5);
    --dark-header-background-color: rgba(25, 25, 25, 0.5);
    --dark-section-background-color: rgb(25, 25, 25);
    --dark-text-color: rgb(250, 250, 250);

    /* General */
    --primary-color: rgb(15, 110, 255);
    --backdrop-blur: 0.5rem;
}

/* GENERAL */
body {
    position: relative;
}

p a {
    text-decoration: none;
    color: var(--primary-color) !important;
}

.theme-toggler {
    margin-top: 0.1rem;
}

/* ABOUT SECTION */
#about {
    height: 100svh;
}

#works {
    height: calc(100svh - 4.75rem);
}

/* WORKS SECTION */
.carousel-btn {
    font-size: 2rem;
    color: var(--primary-color);
    border: none;
    background-color: transparent;
    transition: transform 0.2s ease-in-out;
}

.carousel-btn:active {
    transform: scale(0.8);
}

#carousel-caption-text {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

/* CONTACT SECTION */
#message {
    resize: none;
}

/*************
* LIGHT MODE *
*************/

/* GENERAL */
[data-bs-theme="light"] body {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
    transition: background-color 0.1s ease-in-out;
}

/* HEADER */
[data-bs-theme="light"] header {
    background-color: var(--light-header-background-color);
    color: var(--light-text-color);
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
    transition: background-color 0.1s ease-in-out;
}

[data-bs-theme="light"] .active {
    color: var(--primary-color) !important;
}

/* ABOUT SECTION */
[data-bs-theme="light"] .gradient-text {
    background: linear-gradient(90deg, rgb(25, 25, 25), rgb(100, 100, 100));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* WORKS SECTION */
[data-bs-theme="light"] #carousel-caption {
    background-color: var(--light-section-background-color);
    transition: background-color 0.1s ease-in-out;
}

/* CONTACT SECTION */
[data-bs-theme="light"] #contact input {
    border: none;
    background-color: var(--light-section-background-color);
}

/* CONTACT SECTION */
[data-bs-theme="light"] #contact textarea {
    border: none;
    background-color: var(--light-section-background-color);
}

/* FOOTER */
[data-bs-theme="light"] footer {
    background-color: var(--light-section-background-color);
    transition: background-color 0.1s ease-in-out;
}

[data-bs-theme="light"] footer a {
    transition: transform 0.2s ease-in-out;
}

[data-bs-theme="light"] footer a:hover {
    transform: translateY(-0.25rem);
    color: var(--primary-color);
}

/************
* DARK MODE *
************/

/* GENERAL */
[data-bs-theme="dark"] body {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    transition: background-color 0.1s ease-in-out;
}

/* HEADER */
[data-bs-theme="dark"] header {
    background-color: var(--dark-header-background-color);
    color: var(--dark-text-color);
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
    transition: background-color 0.1s ease-in-out;
}

[data-bs-theme="dark"] .active {
    color: var(--primary-color) !important;
}

/* ABOUT SECTION */
[data-bs-theme="dark"] .gradient-text {
    background: linear-gradient(90deg, rgb(250, 250, 250), rgb(100, 100, 100));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* WORKS SECTION */
[data-bs-theme="dark"] #carousel-caption {
    background-color: var(--dark-section-background-color);
    transition: background-color 0.1s ease-in-out;
}

/* CONTACT SECTION */
[data-bs-theme="dark"] #contact input {
    border: none;
    background-color: var(--dark-section-background-color);
}

[data-bs-theme="dark"] #contact textarea {
    border: none;
    background-color: var(--dark-section-background-color);
}

/* FOOTER */
[data-bs-theme="dark"] footer {
    background-color: var(--dark-section-background-color);
    transition: background-color 0.1s ease-in-out;
}

[data-bs-theme="dark"] footer a {
    transition: transform 0.2s ease-in-out;
}

[data-bs-theme="dark"] footer a:hover {
    transform: translateY(-0.25rem);
    color: var(--primary-color);
}